body {
    padding: 0;
    margin: 0;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    height: 90vh;
}

.carousel__items img {
    height: 400px;
    width: 300px;
}

.carousel__buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.carousel__buttons button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
}

button {
    background-color: yellowgreen;
    outline: none;
}

button:active {
    box-shadow: 0 5px 8px #888888;
    transform: translateY(3px);
}

@media only screen and (min-width: 1024px) {
    .carousel__items img {
        height: 400px;
        width: 500px;
    }
    .carousel {
        justify-content: space-around;
    }
    .carousel__buttons {
        width: 25%;
    }
    .carousel__buttons button {
        width: 3.5vw;
        height: 7vh;
    }
}